<div class="col-sm-1">

</div>
<div class="well col-sm-10">
  <div class="container-fluid" style="text-align: center; margin-bottom: 3%">
    <h2 style="text-decoration: underline; font-weight: bold">Commander un service</h2>
  </div>
  {{ form(form) }}
</div>
